<div class="container">
  <div>
    <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
      <li *ngFor="let step of steps; let i=index;" (click)="getStepItems(step.id)"
        [ngClass]="{'active': currentStep.id === step.id}">
        <a aria-controls="ideate" role="tab" data-toggle="tab" aria-expanded="true" style="padding-top: 0.1em;">
          <span style="margin-bottom: 20px;" class="octicon octicon-light-bulb">{{ step.name }}</span><span
            (click)="deleteStep(step.id)"> - </span>
        </a>
      </li>
      <li>
        <a aria-controls="ideate" role="tab" data-toggle="tab" aria-expanded="true" style="padding-top: 0.1em;">
          <span class="octicon octicon-light-bulb" (click)="addStep()"> + </span>
        </a>
      </li>
    </ul>
  </div>
  <div style="margin: 15px;">
    <div class="float-right" style="text-align: right;">
      <button type="button" class="btn btn-primary btn-lg float-right" (click)="clear()">Add New Item</button>
    </div>
    <ul style="margin: 15px;" class="list-group">
      <div *ngFor="let item of items; let i=index;">
        <button (click)="setFormWithItem(item.id)" type="button" class="btn btn-primary btn-lg"><span>Item {{ i +
            1}}</span><span (click)="deleteItem(item.id)"> - </span></button>
        <li class="list-group-item"><a aria-controls="ideate" role="tab" data-toggle="tab" aria-expanded="true">
            <ul>
              <li>{{item.title}}</li>
              <li>{{item.description}}</li>
            </ul>
          </a>
        </li>
      </div>

    </ul>

  </div>



  <div style="margin-top: 10px;margin-bottom: 10px;">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm)">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <input type="hidden" class="form-control" id="id" formControlName="id">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
              <div *ngIf="itemForm.get('title').invalid && submitted">
                <span style="color:red">Title is required.</span>
              </div>
            </div>
          </div>
          <div class="form-group row" style="margin-top: 10px;">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="description" id="description"
                placeholder="Enter Description">
              <div *ngIf="itemForm.get('description').invalid && submitted">
                <span style="color:red">Description is required.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" style="text-align: left">
          <button type="submit" style="top: 20%;left: 5%; position: relative;"
            class="float-right btn btn-lg btn-primary">Save</button>
        </div>
      </div>

    </form>
  </div>

  <!-- <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="form-group">
      <input type="hidden" class="form-control" id="id" formControlName="id">

      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
      <div *ngIf="itemForm.get('title').invalid && submitted">
        <span style="color:red">Title is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" formControlName="description" id="description" placeholder="description">
      <div *ngIf="itemForm.get('description').invalid && submitted">
        <span style="color:red">Description is required.</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form> -->
  <div style="position: relative; width: 50%; margin-top: 40px;">
    <button type="button" style="position: absolute;top: 1px;left: 100px;text-align: center; width: 20%"
      class="btn btn-primary btn-lg" (click)="moveNextOrPrev('prev')">Previous</button>
    <button type="button" style="position: absolute;top: 1px;right: 100px;text-align: center; width: 20%;"
      class="btn btn-primary btn-lg  float-right" (click)="moveNextOrPrev('next')"> Next </button>
  </div>
</div>